<div class="panel panel-default" ng-init="getGenres()">
  <div class="panel-heading">
    <h3 class="panel-title">Genre</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="genre in genres">
    		 <div class="col-md-12">
    			<div class="col-md-4">
    				<h4>{{genre.name}}</h4>    				  
    			</div>
    			<div class="col-md-4">
    				<h4>{{genre.create_date}}</h4>
    			</div>
    			<div class="col-md-4">
    				<div class="pull-right">
 						 <a href="#/genres/edit/{{genre._id}}">Edit</a>  | <a href="#" ng-click="removeGenre(genre._id)">Delete</a> 
    			</div> 
    			
    		</div> 
    	</div>
    </div>
  </div>
  <div class="row">
  	<div class="col-md-12">
  		 <a class="btn btn-primary pull-left" href="#/genres/add">Add New Genre</a> 
  	</div>
  	
  </div>
</div>